@media all and (max-width:1300px) {
  .nav-menu.f-left {
   margin-left: 3%;
 }
}

@media all and (max-width: 1200px) {
  .page-padding {
    padding: 0 10%;
  }

  .nav-menu {
    display: none;
  }

  .nav-mobile {
    display: block;
  }

  .jumbo {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .partners {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .partner-logo-cont img {
    width: 115px;
  }

  .slider-cont {
    width: 80%;
  }
}

@media all and (max-width: 991px) {
  body {
    font-size: 12px;
  }

  .page-padding {
    padding-left: 5%;
    padding-right: 5%;
  }

  .nav-menu {
    display: none;
  }

  .nav-mobile {
    display: block;
  }

  .jumbo-text-cont {
    width: 100%;
  }

  .jumbo-text-cont h1{
    text-align: center;
  }

  .jumbo-form {
    width: 100%;
    margin-top: 30px;
  }

  .partner-logo-cont {
    width: calc(100% / 3);
  }

  .partner-logo-cont img {
    width: 135px;
  }

  .slider-cont {
    width: 90%;
  }

  .slider-chevron-left,
  .slider-chevron-right {
    font-size: 1.5rem;
  }

  .feat-box:nth-child(1n+2) {
    margin-left: 30px;
  }

  .table-box {
    width: 100%;
  }

  .table-box-cont .table-box:last-child {
    margin-top: 50px;
    float: left;
  }

  .footer-info {
    width: 100%;
  }

  .footer-list-link {
    width: 50%;
    margin: 30px 0 0 0;
  }
}

@media all and (max-width: 767px) {
  body {
    font-size: 10px;
  }

  .partner-logo-cont {
    width: 50%;
  }

  .partners-cont {
    width: 60%;
    margin: 0 auto;
    padding: 0;
  }

  .conf-cont {
    padding: 0;
  }

  .conf-box-cont {
    width: 100%;
  }

  .conf-box {
    width: 100%;
    margin: 30px 0 0 0;
  }

  .conf-margin {
    margin: 0;
  }

  .slider-cont {
    width: 100%;
  }

  .slider-chevron-left,
  .slider-chevron-right {
    display: none;
  }

  .feat-box {
    width: 100%;
  }

  .feat-box:nth-child(1n+2) {
    margin-left: 0px;
    margin-top: 30px;
  }

  .footer-list-link {
    width: 100%;
  }
}

@media all and (max-width: 500px) {
  .partners-cont {
    width: 90%;
  }
}

@media all and (max-width: 350px) {
  .partner-logo-cont {
    width: 100%;
  }
}
