* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 15px;
}

main section:nth-child(1n+3) {
  padding-top: 60px;
  padding-bottom: 60px
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 3.3rem;
  color: #fff;
}

h2 {
  color: #031c4e;
  font-size: 2.2rem;
  margin: 10px 0 0 0;
}

h3 {
  color: #031c4e;
  font-size: 1.8rem;
}

h4 {
  color: #031c4e;
  font-size: 1.2rem;
  margin-top: 10px;
}

p {
  line-height: 1.4;
  font-size: 1.3rem;
  margin: 15px 0 0 0;
  color: #5b6987;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.page-padding {
  padding-left: 15%;
  padding-right: 15%;
}

.bg-grey {
  background: #f3f5f9;
}

.bg-gradient {
  background: linear-gradient(180deg, #0047c5, #001d99);
}

.bg-gradient h2 {
  color: #fff;
}

.box-head {
  text-align: center;
}

/* header */
header {
  background: #fff;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.header-cont {
  width: 100%;
}

.logo-cont {
  width: 200px;
  float: left;
}

.logo-cont img {
  width: 200px;
  padding: 10px 0;
}

.nav-menu {
  line-height: 60px;
}

.nav-menu ul li {
  margin: 0 10px 0 0;
  list-style-type: none;
  display: inline-block;
}

.nav-menu ul li:last-child {
  margin: 0;
}

.nav-menu ul li i {
  color: #031c4e;
  margin: 0 1px;
}

.nav-menu ul li a {
  color: #031c4e;
}

.nav-menu ul li a:hover {
  color: #2485fd;
}

.nav-menu ul li a:hover i {
  color: #2485fd;
}

 .nav-menu.f-left {
  margin-left: 10%;
}

.signup-button {
  padding: 5px 10px;
  border: 2px solid #2485fd;
  color: #2485fd;
  border-radius: 5px;
}

.signup-button:hover {
  color: #fff!important;
  background: #2485fd;
}

.nav-mobile {
  color: #2485fd;
  font-size: 2rem;
  line-height: 60px;
  cursor: pointer;
  float: right;
  display: none;
}

/* main */
/* jumbo */
.fixed-margin {
  margin-top: 61px;
}

.jumbo {
  width: 100%;
  background-image: url(../img/jumbo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
}

.jumbo-text-cont {
  width: 50%;
  float: left;
}

.jumbo-text-cont h1 {
  padding: 0 25px 0 0;
}

.jumbo-text-cont p {
  color: #97b3ff;
}

.jumbo-form {
  width: 45%;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 30px 20px;
  float: right;
}

.jumbo-form h3:nth-child(2) {
  margin: 10px 0 0 0;
  color: #2485fd;
}

.jumbo-form input[type=email],
.jumbo-form input[type=password] {
  width: 100%;
  padding: 15px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0 0 0;
}

.jumbo-form-button {
  width: 100%;
  padding: 10px 0;
  margin: 10px 0 0 0;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.jfb-1 {
  color: #fff;
  background: #2485fd;
}

.jfb-1:hover {
  background: #1633ff;
}

.jfb-2 {
  background: #fff;
  box-shadow: 1px 1px 2px #ccc;
  color: #717171;
  position: relative;
}

.jfb-2:hover {
  color: #000;
}

.jfb-2 img {
  max-width: 20px;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(0, -50%);
}

.terms {
  color: #031c4e;
  margin: 20px 0 0 0;
}

.terms a {
  text-decoration: underline;
  color: #2485fd;
}

/* partner */
.partners {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.partners-cont {
  width: 100%;
}

.partners-text {
  text-align: center;
}

.top-text {
  color: #6f7b97;
  font-size: 1.2rem;
}

.partner-logo-cont {
  width: calc(100% / 6);
  height: 90px;
  margin: 15px 0 0 0;
  float: left;
  position: relative;
}

.partner-logo-cont img {
  width: 135px;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-text a {
  color: #2485fd;
  font-weight: bold;
}

.bottom-text a:hover {
  color: #1633ff;
}

/* configuration */
.conf-cont {
  width: 100%;
  margin: 50px 0 0 0;
  padding: 0 10%;
}

.conf-nav ul li {
  list-style-type: none;
  color: #5b6987;
  padding: 10px 20px;
  border-left: 2px solid #5b6987;
  font-size: 1.2rem;
  cursor: pointer;
}

.conf-nav ul li:hover {
  color: #000;
  border-color: #2485fd;
}

.conf-box-cont {
  width: 70%;
}

.conf-box {
  width: 46%;
}

.conf-box p,
.feat-box p {
  font-size: 1rem;
  margin: 10px 0 0 0;
}

.conf-margin {
  margin: 20px 0 0 0;
}

/* slider 1-2 */
.slider-cont {
  width: 65%;
  padding: 0 5%;
  margin: 60px auto 0 auto;
  cursor: grab;
  position: relative;
}

.slider-cont img {
  width: 100%;
}

.slider-chevron-left {
  font-size: 2rem;
  color: #6f7b97;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  cursor: pointer;
}

.slider-chevron-right {
  font-size: 2rem;
  color: #031c4e;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  cursor: pointer;
}

.slider-bottom p {
  text-align: center;
  color: #031c4e;
  font-size: 1rem;
}

.slider-circle-cont {
  text-align: center;
  margin: 10px 0 0 0;
}

.slider-circle-cont i {
  font-size: 10px;
  color: #2485fd;
  cursor: pointer;
}

.slider-circle-cont i:nth-child(1n+2) {
  margin: 0 0 0 2px;
}

/* features */
.feat-box-cont {
  margin: 40px 0 0 0;
}

.feat-box {
  width: 30%;
  float: left;
}

.feat-box:nth-child(1n+2) {
margin-left: 35px;
}

.feat-link {
  margin: 10px 0 0 0;
}

.feat-link a {
  font-weight: bold;
  color: #2485fd;
}

.feat-link a:hover {
  color: #1633ff;
}

/* world data */
.table-box-cont {
  width: 100%;
  margin: 30px 0 0 0;
}

.table-box-cont .table-box:first-child {
  float: left;
}

.table-box-cont .table-box:last-child {
  float: right;
}

.table-box {
  width: 48%;
}

.table-box table {
  width: 100%;
  border-collapse: collapse;
}

.table-box table tr td {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 10px 5px;
}

.table-box table tr td:first-child {
  font-weight: bold;
  width: 100px;
}

.table-box table tr td:last-child {
  width: 100px;
}

.table-box table tr td:nth-child(2),
.table-box table tr td a {
  color: #f3f5f9;
}

.table-box table tr td a:hover {
  color: #2485fd;
}

.table-box table tr td:last-child {
  text-align: right;
}

.table-box table tr:last-child td {
  border: 1px solid rgba(0,0,0,0.0);
}

/* slider 2 */
.rockerbox {
  background: #fff;
  padding: 75px 5px;
  text-align: center;
}

.rockerbox img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.rockerbox a {
  display: block;
  margin: 30px 0 0 0;
  color: #2485fd;
  font-weight: bold;
}

.rockerbox a:hover {
  color: #1633ff;
}

.rb-signature {
  margin-top: 30px;
}

/* start */
.new-account {
  text-align: center;
  margin: 50px 0 0 0;
}

.new-account a {
  background: #fff;
  border: 1px solid #2485fd;
  color: #2485fd;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 5px;
}

.new-account a:hover {
  background: rgba(225, 225, 225, 0.9);
}

/* footer */
footer {
  background: #031c4e;
  color: #7a859d;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-info {
  width: 40%;
  float: left;
}

.copy {
  margin: 10px 0 0 0;
}

.copy span {
  color: #516080;
}

.social-icon {
  margin: 10px 0 0 0;
}

.social-icon a {
  color: #7a859d;
  font-size: 1.3rem;
  margin-right: 5px;
}

.social-icon a:hover {
  color: #fff;
}

.footer-list-link {
  width: 15%;
  float: left;
}

.footer-list-link h4 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 5px;
}

.footer-list-link ul li {
  list-style-type: none;
  margin: 10px 0 0 0;
}

.footer-list-link ul li a {
  color: #7a859d;
}

.footer-list-link ul li a:hover {
  color: #fff;
}
